USE [master]
GO
/****** Object:  Database [CafeDB1]    Script Date: 11/14/2025 9:39:32 PM ******/
CREATE DATABASE [CafeDB1]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeDB1]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[id] [int] IDENTITY(1000,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[image_path] [nvarchar](500) NULL,
	[order_number] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cus_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[point] [int] NULL,
	[address] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[img] [nvarchar](255) NULL,
	[failed_attempts] [int] NOT NULL,
	[locked_until] [datetime] NULL,
	[is_google_account] [bit] NOT NULL,
	[last_birthday_reward_year] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[content] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[staff_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[total_price] [decimal](12, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[points_used] [int] NULL,
	[voucher_id] [int] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[table_id] [int] NULL,
	[made_by] [int] NULL,
	[served_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[orderitem_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[note] [nvarchar](255) NULL,
	[unit_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderitem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pointhistory]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pointhistory](
	[point_history_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NOT NULL,
	[type_of_change] [nvarchar](100) NULL,
	[change_time] [datetime] NULL,
	[amount] [int] NOT NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[point_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_name] [nvarchar](100) NOT NULL,
	[img] [nvarchar](255) NULL,
	[cate_id] [int] NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[img] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NULL,
	[capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableBooking]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableBooking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[table_id] [int] NOT NULL,
	[cus_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[booking_time] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[checkin_time] [datetime] NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 11/14/2025 9:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_name] [nvarchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[quantity] [int] NOT NULL,
	[discount_type] [varchar](20) NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[code] [nvarchar](50) NOT NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK__Voucher__80B6FFA873762A08] PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([id], [title], [image_path], [order_number], [is_active]) VALUES (1001, N'Tặng', N'/uploads/d2251b6a-24c8-417b-b8b1-0bc20f62a7fc.jpg', 4, 1)
INSERT [dbo].[Banner] ([id], [title], [image_path], [order_number], [is_active]) VALUES (1002, N'Voucher mới', N'/uploads/08eba907-4cc1-442e-91d9-62901f7ee818.jpg', 3, 1)
INSERT [dbo].[Banner] ([id], [title], [image_path], [order_number], [is_active]) VALUES (1003, N'Giáng Xinh', N'/uploads/530e49f1-cbb8-4159-b9c6-7a7037a69ebf.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cate_id], [cate_name], [is_active]) VALUES (1, N'Coffee', 1)
INSERT [dbo].[Category] ([cate_id], [cate_name], [is_active]) VALUES (2, N'Tea', 1)
INSERT [dbo].[Category] ([cate_id], [cate_name], [is_active]) VALUES (3, N'Latte', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([cus_id], [name], [phone_number], [email], [point], [address], [password], [username], [date_of_birth], [img], [failed_attempts], [locked_until], [is_google_account], [last_birthday_reward_year]) VALUES (1, N'Nguyễn Văn B', N'11111', N'quocnt.ce190614@gmail.com', 0, N'Hà Nội', N'$2a$12$0E1SqjRlhYHkOVCKxYO9/uWvUhOn5Zg2AgD18wiM2I644v1HAZIu.', N'customer', CAST(N'1999-01-01' AS Date), N'https://lh3.googleusercontent.com/a/ACg8ocIzMh2vcjnQhcBTmk05SgT1mwdNTDfbcz_6TWC1KXoMoxpniQ=s96-c', 0, NULL, 1, NULL)
INSERT [dbo].[Customer] ([cus_id], [name], [phone_number], [email], [point], [address], [password], [username], [date_of_birth], [img], [failed_attempts], [locked_until], [is_google_account], [last_birthday_reward_year]) VALUES (2, N'Trần Thị B', N'0909888777', N'b@gmail.com', 200, N'Hồ Chí Minh', N'$2a$12$0E1SqjRlhYHkOVCKxYO9/uWvUhOn5Zg2AgD18wiM2I644v1HAZIu.', N'tranthib', CAST(N'2000-03-10' AS Date), N'July 30.jpg', 0, NULL, 0, NULL)
INSERT [dbo].[Customer] ([cus_id], [name], [phone_number], [email], [point], [address], [password], [username], [date_of_birth], [img], [failed_attempts], [locked_until], [is_google_account], [last_birthday_reward_year]) VALUES (3, N'Lê Văn C', N'0909777666', N'c@gmail.com', 51, N'Đà Nẵng', N'$2a$12$0E1SqjRlhYHkOVCKxYO9/uWvUhOn5Zg2AgD18wiM2I644v1HAZIu.', N'levanc', CAST(N'1998-06-20' AS Date), N'avatar3.jpg', 0, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF

SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([pro_id], [pro_name], [img], [cate_id], [price], [status], [description], [is_active], [quantity]) VALUES (1, N'Matcha Latte', N'matchalatte.jpg', 3, CAST(50000.00 AS Decimal(10, 2)), N'Available', N'Japan', 1, 30)
INSERT [dbo].[Product] ([pro_id], [pro_name], [img], [cate_id], [price], [status], [description], [is_active], [quantity]) VALUES (2, N'Green Tea', N'greentea.jpg', 2, CAST(20000.00 AS Decimal(10, 2)), N'Unavailable', N'Trà xanh Nhật Bản', 1, 4)
INSERT [dbo].[Product] ([pro_id], [pro_name], [img], [cate_id], [price], [status], [description], [is_active], [quantity]) VALUES (3, N'Americano', N'americano.jpg', 1, CAST(25000.00 AS Decimal(10, 2)), N'unavailable', N'Mặc định không đường.', 1, 15)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Cashier')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Barista')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [name], [phone_number], [email], [address], [password], [role_id], [username], [date_of_birth], [img], [is_active]) VALUES (1, N'Nguyen Admin', N'0909555444', N'staff1@gmail.com', N'Hà Nội', N'$2a$12$0E1SqjRlhYHkOVCKxYO9/uWvUhOn5Zg2AgD18wiM2I644v1HAZIu.', 1, N'admin', CAST(N'1995-02-15' AS Date), NULL, 1)
INSERT [dbo].[Staff] ([staff_id], [name], [phone_number], [email], [address], [password], [role_id], [username], [date_of_birth], [img], [is_active]) VALUES (2, N'Tran Barista', N'0909222333', N'barista@gmail.com', N'HCM', N'$2a$10$2bfDPCrpMPtF4eyS9eXu7ePcXfDYNWT8o0mRTWRHldZefS7VImt2S', 3, N'barista', CAST(N'1997-07-12' AS Date), NULL, 1)
INSERT [dbo].[Staff] ([staff_id], [name], [phone_number], [email], [address], [password], [role_id], [username], [date_of_birth], [img], [is_active]) VALUES (3, N'Le Cashier', N'0909545444', N'staff2@gmail.com', N'Hà Nội', N'$2a$12$0E1SqjRlhYHkOVCKxYO9/uWvUhOn5Zg2AgD18wiM2I644v1HAZIu.', 2, N'cashier', CAST(N'1995-02-15' AS Date), N'm2.jpg', 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([table_id], [status], [capacity]) VALUES (1, N'available', 4)
INSERT [dbo].[Table] ([table_id], [status], [capacity]) VALUES (2, N'occupied', 4)
INSERT [dbo].[Table] ([table_id], [status], [capacity]) VALUES (3, N'available', 4)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO

SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([voucher_id], [voucher_name], [start_date], [end_date], [quantity], [discount_type], [discount_value], [min_order_value], [code], [is_active]) VALUES (1, N'Giảm 10%', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 100, N'percent', CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'GIAM10', 0)
INSERT [dbo].[Voucher] ([voucher_id], [voucher_name], [start_date], [end_date], [quantity], [discount_type], [discount_value], [min_order_value], [code], [is_active]) VALUES (2, N'Giảm 20k', CAST(N'2025-10-01' AS Date), CAST(N'2025-11-30' AS Date), 50, N'amount', CAST(20000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), N'GIAM20K', 0)
INSERT [dbo].[Voucher] ([voucher_id], [voucher_name], [start_date], [end_date], [quantity], [discount_type], [discount_value], [min_order_value], [code], [is_active]) VALUES (5, N'Lễ Hội Mùa Hè1', CAST(N'2025-05-01' AS Date), CAST(N'2025-07-01' AS Date), 1000, N'amount', CAST(200000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), N'GIAM200K', 0)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_email]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_phoneNumber]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_phoneNumber] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_username]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A1936A6BEB4AA803]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__AB6E61641189246D]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__F3DBC5721E8D3CCD]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__357D4CF93CF13B51]    Script Date: 11/14/2025 9:39:32 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [order_number]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [point]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_is_google_account]  DEFAULT ((0)) FOR [is_google_account]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [points_used]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pointhistory] ADD  DEFAULT (getdate()) FOR [change_time]
GO
ALTER TABLE [dbo].[TableBooking] ADD  DEFAULT (getdate()) FOR [booking_time]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF__Voucher__min_ord__656C112C]  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__cus_id__693CA210] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([cus_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__cus_id__693CA210]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([pro_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__cus_id__6EF57B66] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([cus_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__cus_id__6EF57B66]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_MadeBy] FOREIGN KEY([made_by])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_MadeBy]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FKnrduwglsych0g717gihrtflbu] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FKnrduwglsych0g717gihrtflbu]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([pro_id])
GO
ALTER TABLE [dbo].[pointhistory]  WITH CHECK ADD  CONSTRAINT [FK_pointhistory_Customer] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([cus_id])
GO
ALTER TABLE [dbo].[pointhistory] CHECK CONSTRAINT [FK_pointhistory_Customer]
GO
ALTER TABLE [dbo].[pointhistory]  WITH CHECK ADD  CONSTRAINT [FK_pointhistory_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[pointhistory] CHECK CONSTRAINT [FK_pointhistory_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category] ([cate_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Role]
GO
ALTER TABLE [dbo].[TableBooking]  WITH CHECK ADD  CONSTRAINT [FK__TableBook__cus_i__08B54D69] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([cus_id])
GO
ALTER TABLE [dbo].[TableBooking] CHECK CONSTRAINT [FK__TableBook__cus_i__08B54D69]
GO
ALTER TABLE [dbo].[TableBooking]  WITH CHECK ADD FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='Served' OR [status]='Canceled' OR [status]='Ready' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='Served' OR [status]='Canceled' OR [status]='Ready' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([status]='unavailable' OR [status]='available'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([status]='unavailable' OR [status]='available'))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [CK_Table_Status] CHECK  (([status]='occupied' OR [status]='booked' OR [status]='available'))
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [CK_Table_Status]
GO
ALTER TABLE [dbo].[TableBooking]  WITH CHECK ADD  CONSTRAINT [CK__TableBook__statu__0E6E26BF] CHECK  (([status]='canceled' OR [status]='booked' OR [status]='checked-in' OR [status]='auto-canceled' OR [status]='completed' OR [status]='pending' OR [status]='rejected'))
GO
ALTER TABLE [dbo].[TableBooking] CHECK CONSTRAINT [CK__TableBook__statu__0E6E26BF]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK__Voucher__discoun__6477ECF3] CHECK  (([discount_type]='amount' OR [discount_type]='percent'))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK__Voucher__discoun__6477ECF3]
GO
USE [master]
GO
